<aside class="org-sidebar">
    <nav>
        <a class="sidebar-link <%= active === 'home' ? 'active' : '' %>" href="/organization/dashboard">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a class="sidebar-link <%= active === 'host' ? 'active' : '' %>" href="/organization/organise-event">
            <i class="fa-solid fa-bullhorn"></i>
            <span>Host Event</span>
        </a>
        <a class="sidebar-link <%= active === 'registrations' ? 'active' : '' %>" href="/organization/registrations">
            <i class="fa-solid fa-user-check"></i>
            <span>Registrations</span>
        </a>
    </nav>
</aside>
