<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization Dashboard</title>
</head>
<body>
    <h1><center>WELCOME TO ORGANIZATION DASHBOARD</center></h1>
    <button><a href="/organization/organise-event">Organise event</a></button>
</body>
</html>